html{
    scroll-behavior: smooth;
}
body{
    background-color: rgba(64,190,170,255);
}
@media only screen and (max-width: 600px) {
    .Header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Login {
        margin: 1rem 0;
        justify-content: center;
        text-align: center;
    }

    .Logo {
        display: none;
    }

    .Navigation {
        width: 100%;
        margin: 1rem 0;
    }

    .button_def {
        margin-left: 0;
        margin-right: 0;
    }

    .Main,
    .content,
    .Ratings{
        width: 100%;
    }

    .bewertbar {
        flex-direction: column;
        align-items: center;
    }

    .meal_img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        transition: all 0.5s ease;
    }

    .bewertung-form {
        margin-top: 20px;
        align-items: center;
    }

    .form-group {
        width: 80%;
    }

    input, select {
        width: 100%;
        padding: 0.5rem;
        margin: 0.2rem 0;
        box-sizing: border-box;
    }

    .button_pro {
        width: 80%;
        margin-top: 10px;
    }
    .footer {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .footer > div {
        display: none;
    }

    .footer > div:nth-child(2) {
        display: flex;
    }
}
.Page{
    display: block;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: white;
    border-radius: 25px;
    margin: 30px auto 0;
    padding-bottom: 20px;
}
.Header {
    display: flex;
    height: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    padding-top: 30px;
}
.navbar-brand {
    color: rgba(64, 190, 170, 255);
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

.navbar-brand:hover {
    text-decoration: underline;
}
.Login {
    height: 50%;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.Logo {
    height: 50%;
    width: 10%;
    margin-left: auto;  /* Auto margin on the left side */
    margin-right: auto; /* Auto margin on the right side */
}

.logopic {
    display: block;    /* Ensure the image behaves as a block element */
    margin: 0 auto;    /* Auto margins to center the image horizontally */
    max-width: 100%;
    max-height: 100%;
}
.Navigation {
    width: 70%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Text {
    margin-left: 1rem; /* Verringern des Abstands */
    margin-top: 0.5rem;
    color: rgba(64, 190, 170, 255);
    cursor: pointer;
    transition: transform 0.5s;
    text-decoration: underline;
    font-size: larger;
}

.Text_login{
    margin: 1rem 0 0 0.8rem;
    color: rgba(64,190,170,255);
    cursor: pointer;
    transition: transform 1s;
    font-size: smaller;
}
.Text_login:hover{
    text-decoration: underline;
    font-weight: bolder;
}
.Text:hover{
    transform: scale(1.2)
}
.Trenner{
    height:1px;
    background-color: rgba(64,190,170,255);
}
.Bewertungen,.content,.Main {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column; /* Änderung der Ausrichtung auf vertikal */
}
.button_def,.button_def_grey{
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: background-color 0.3s, box-shadow 0.3s;}
.button_def_grey{
    background-color: rgba(255, 255, 255, 200);
}
.button_def {
    background-color: rgba(64, 190, 170, 255);
}

.button_def:hover,.button_def_grey:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.button_def:active,.button_def_grey:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.button_def_grey:hover {
    background-color: rgba(155, 155, 155, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.button_def_grey:active {
    background-color: rgba(155, 155, 155, 1);
    transform: translateY(4px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.button_def:hover {
    background-color: rgb(38, 114, 102);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.button_def:active {
    background-color: rgb(38, 114, 102);
    transform: translateY(4px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.footer{
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.vertical{
     border: none;
     height: 20px;
     width: 1px;
     margin: 0 10px;
     background-color: darkgray;
 }
body, .footer, .highlights, .Newsletter, .anmeldeblock,.Zahlenübersicht, table, .Einfuehrung{
    font-family: OnestReg,serif;
}
.fett,.Schrift, .custom-font, .Text, .überschrift, button{
    font-family: OnestBold, serif;
}
@font-face{
    font-family:"Billy";
    src: url("font_folder/BillyTheFlyingRobot LC BB Bold.ttf");
}
@font-face {
    font-family: "Help";
    src: url("font_folder/HelpMe.ttf");
}
@font-face {
    font-family: "Lastica";
    src: url("font_folder/Lastica.ttf");
}
@font-face {
    font-family: "Stella";
    src: url("font_folder/Stella.ttf");
}
@font-face {
    font-family: "Ketimun";
    src: url("font_folder/Ketimun.otf");
}
@font-face {
    font-family: "OnestBold";
    src: url("font_folder/OnestBold1602-hint.ttf");
}
@font-face {
    font-family: "OnestReg";
    src: url("font_folder/OnestRegular1602-hint.ttf");
}

